---
page_title: "{{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

~> **Note about resource deprecation**
Resource khulnasoft_notification_slack is deprecated, please use khulnasoft_notification instead

{{ .SchemaMarkdown | trimspace }}