---
layout: ""
page_title: "Provider: Khulnasoft"
description: |-
  The Khulnasoft provider provides resources to interact with the Khulnasoft API.
---

# Khulnasoft Provider

Use the Khulnasoft provider to interact with the many resources in the Khulnasoft platform. 
You must configure the provider with the proper credentials before you can use it.

Use the navigation to the left to read about the available resources and data sources.

## Example Usage

~> **WARNING** It is recommended to create a custom user, role and permission set 
(with API Only permissions), and use this user for performing operations from Terraform.

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}